*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  --text-normal: #6b6b6b;
  --text-hover: #000000;
  height: 100%;
}

body {
  --at-apply: text-normal;
  height: 100%;
}

#app {
  height: 100%;
}

* {
  user-select: none;
  outline: none;
}

.simplebar-scrollbar::before {
  background-color: #bdbdbd;
  border-radius: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.simplebar-hover .simplebar-scrollbar::before {
  background-color: #909090;
}

.simplebar-wrapper:hover ~ .simplebar-track > .simplebar-scrollbar:before {
  opacity: 0.5 !important;
}
